:root {
    --dark: #23272A;
    --box-color: #17181a;
    --blue: #282caf;
}

@font-face {
    font-family: Bruno Ace SC;
    src: url("../../fonts/Bruno_Ace_SC/BrunoAceSC-Regular.ttf");
}

@font-face {
    font-family: Century Gothic;
    src: url("../../fonts/07558_CenturyGothic.ttf");
}

@font-face {
    font-family: KoHo;
    src: url("../../fonts/KoHo/KoHo-SemiBold.ttf");
    font-weight: 600;
}

body {
    background-color: #333;
    color: white;
    font-family: Century Gothic;
}

.space {
    margin-bottom: 20px;
}

.profile {
    text-align: center;
    padding: 12px;
    font-size: x-large;
    background-color: var(--dark);
    border-radius: 20px;
}

.profile img {
    width: 200px;
}

.profile .bio {
    display: flex;
    justify-content: center;
}

.profile .bio .content {
    background-color: var(--box-color);
    padding: 20px;
    border-radius: 23px;
    width: 500px;
}

.profile .bottom-part {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.profile .bottom-part a {
    text-decoration: none;
    padding: 15px 15px;
    margin: 5px;
    color: white;
    border-radius: 24px;
    background-color: var(--blue);
    font-size: 50px;
}

.profile .bottom-part a:hover {
    background-color: #383dc4;
    box-shadow: 4px 4px 4px black;
}

.projets {
    text-align: center;
    display: grid;
    justify-content: center;
}

.projets .box {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 400px;
    background-color: var(--box-color);
    padding: 10px;
    font-size: 20px;
    border-radius: 12px;
}

.projets .box:hover {
    box-shadow: 4px 4px 4px black;
}

.projets .box .partie {
    border-radius: 130px;
    padding: 10px;
}

.projets .box .partie img {
    width: 130px;
    border-radius: 130px;
}

.projets .box .partie a {
    background-color: var(--blue);
    color: white;
    text-decoration: none;
    padding: 6px;
    border-radius: 16px;
}

.projets .box .partie a:hover {
    background-color: #383dc4;
}

@media screen and (max-width: 850px) {
    .projets .box {
        max-width: 350px;
        font-size: 15px;
    }
    
    .projets .box .partie a {
        font-size: 30px;
    }
}